@import "tailwindcss";



/* ::-webkit-scrollbar-button {
  display: block;
} */

::-webkit-scrollbar {
  height: 4px; 
  background: lightgray;   
}
::-webkit-scrollbar-thumb {
  min-width: 40%; 
  background: rgb(110, 109, 109);
}
