@import "tailwindcss";



/* ::-webkit-scrollbar-button {
  display: block;
} */

::-webkit-scrollbar {
  height: 4px; 
  background: lightgrey;   
}
::-webkit-scrollbar-thumb {
  min-width: 4%; 
  background: rgb(110, 109, 109);

  /* background: transparent; */

}
